body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  background-color: #fef6f9;
}

#mensagem, #flor {
  display: none;
  margin-top: 20px;
}

#flor img {
  width: 200px;
  height: auto;
}

input[type="password"] {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffb6c1;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #ff69b4;
}